.bann {
    width: 100%;
    min-height: 85vh;
    border: solid green;
    background-image: url("../assets/home/Banner.png");
    background-repeat: no-repeat;
    display: block;
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    flex-direction: column;

    &-heading {
        height: 50vh;
        border: solid blue;
        display: flex;
        align-items: end;

        p {
            margin-left: 10%;
        }
    }

    &-widget {
        height: 40vh;
        width: 100%;
        border: solid red;
        display: flex;
        align-items: end;
        justify-content: end;

        &-main {
            width: 30%;
            height: 60%;
            display: flex;
            flex-direction: column;
        }

        &-top {
            height: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }

        &-bottom {
            height: 20%;
            display: flex;

            &-leftbtn {
                width: 100%;
                border-radius: 0;
                border: none;
            }

            &-rightbtn {
                width: 100%;
                border-radius: 0;
                border: none;
            }
        }
    }
}